    <link href="~/css/registration.css" rel="stylesheet">
    
    <form class="registrationForm" action="#">
        <input type="text" name="firstname" placeholder="Nick">
        <br>
        <input type="email" name="lastname" placeholder="Email">
        <br>
        <input type="password" name="lastname" placeholder="Password">
        <br>
        <input type="submit" value="Submit">
    </form> 