@page
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv
@{
    
}

<div id="mainContainer" >
        <div class="containerPart" id="photoContainer" onclick="GetPhotoPage()">
                <img class="photoBlock" src="~/images/photo.jpg">
                <figcaption class="centeredText"> Photos </figcaption>
        </div>
        <div class="containerPart" id="booksContainer" onclick="GetStocksPage()">
                <img class="photoBlock" src="~/images/stocks.jpg">
                <figcaption class="centeredText"> Stocks </figcaption>
        </div>
        <div class="containerPart" id="imagesContainer">
                <img class="photoBlock" src="~/images/paint.jpg">
                <figcaption class="centeredText"> Paints </figcaption>
        </div>
        <div class="containerPart" id="compositionsContainer">
                <img class="photoBlock" src="~/images/music.jpg">
                <figcaption class="centeredText"> Compositions </figcaption>
        </div>   
</div>

@using React.AspNet
@Html.React("Example", new { name = "Viktor" })

@section Scripts {
    @Html.ReactInitJavaScript()
}